<template>
    <h1>Welcome</h1>

    <form>
        <div>
            <label for="edtNames">Names</label>
            <input id="edtNames" type="text" required="required" aria-required="true" title="firstname lastname" pattern="[A-Za-z-0-9]+\s[A-Za-z-'0-9]+"></input>

            <label for="edtEmail">Email</label>
            <input id="edtEmail" type="email" required="required" aria-required="true" title="email"></input>
        </div>

        <div>
            <button type="submit">Save</button>
            <button type="reset">Reset</button>
        </div>

    </form>
</template>